# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Variables de entorno / secretos
.env
.env.*
!.env.example

# Editores / SO
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
